body {
  background-color: rgb(246, 230, 215);
}

#books {
  list-style: none;
  background: rgb(203, 201, 201);
  padding: 0;
}

.store {
  border: none;
}

.show {
  display: block;
  border: solid 2px rgb(77, 170, 237);
}

.menu li {
  margin-left: 2rem;
}

#books li {
  margin: 0.1rem 0.5rem 0 0.5rem;
}

.remove {
  width: 10vw;
  margin-left: 10%;
  border: double;
  font-weight: bold;
}

.add-book {
  text-align: center;
  margin-top: 2rem;
}

.add-book input[type="text"],
#add {
  margin-top: 0.5rem;
}

.add-book input[type="text"] {
  width: 20vw;
}

#add {
  margin-left: 14%;
  width: 7vw;
  border-color: brown;
}

.book-item {
  display: flex;
  justify-content: space-between;
}

.line-2 {
  width: 20vw;
  margin-top: 1rem;
}

.odd {
  background-color: rgb(0, 234, 255);
}

header {
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
}

.logo h1 {
  margin-top: 1rem;
  padding-left: 0.2rem;
  font-size: 20px;
}

section {
  display: none;
}

section.active {
  display: block;
}

#time {
  text-align: right;
  font-weight: lighter;
}

h2 {
  text-align: center;
}

.contact {
  background: white;
  height: 30vh;
  width: 60vw;
  margin-left: 20%;
}

.contact > h2 {
  padding: 0.5rem;
}

.contact-p {
  text-align: center;
}

.contacts {
  margin-left: 25%;
}

.message {
  color: red;
}
